/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/sessions
/build/
/vendor/
!vendor/zend
/bower_components/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/composer.lock
/node_modules/
/app/phpunit.xml
/phpunit.xml
/.idea/
