header{
    position: fixed;
}

section{
    padding: 10px;
}

#i18n{
    float: right;
}

#wrapper{
    background-color: transparent;
    background: url(../images/cloud.png) no-repeat center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#profile{
    padding-top: 140px;
}

#avatar{
    width: 251px;
}

.bgwhite{
    background-color: #e8eaee;
}

.bgtrans{
    color: white;
    background: transparent;
}

.text-center {
    text-align: center;
}