header{
    position: fixed;
    width: 100%;
    background-color: #e8eaee;
    z-index: 1;
}

section{
    padding: 10px;
}

#i18n{
    float: right;
    padding: 14px;
}

#wrapper{
    background-color: transparent;
    background: url(../images/bg_snow.jpg) no-repeat center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#wrapper p{
    font-size: 16px;
}

#wrapper span{
    font-size: 14px;
}

.row{

    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#profile{
    padding-top: 140px;
}

#avatar{
    width: 280px;
}

.bgwhite{
    background-color: #e8eaee;
}

.bgtrans{
    color: white;
    background: transparent;
}

.bgtrans .bgwhite{
    color: #333;
}

.text-center {
    text-align: center;
}

.lv2{
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.lv2 a{
    color: #333333;
}

p.protime{
    color: #a1a1a1;
    font-size: 13px;
}

span.skill{
    margin: 3px;
    padding: 2px 8px;
    line-height: 24px;
    color: #3F77A0;
    font-weight: normal;
    background-color: #CBC7C7;
    position: relative;
    border-bottom: 1px solid #CBC7C7;
    border-right: 1px solid #CBC7C7;
    border-radius: 3px;
}

div.skill_line{
    text-align: center;
    line-height: 36px;
}

.social{
    font-size: 2em;
    text-align: center;
}