{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/bundles/jcamain/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div id="wrapper">
        {{ "lang.chinese"|trans([]) }}
        <section></section>
    </div>
{% endblock %}